{% extends "main.html" %}

{% block content %}
{% load static %}
<body>
    <h1>Hi, this is Ticker</h1>
    <p>On this page you can type any text in the form below and I will give you a ticker video file with your text</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if request.user.is_authenticated %}
        <button type="submit" name="create">Create Video</button>
        {% endif %}
        <button type="submit" name="create_and_download">Create and Download</button>
    </form>
    {% if request.user.is_authenticated and tickers%}
    <h3>Last created ticker:</h3>
    <p>
        Ticker Name: {{tickers.first.text}} ({{tickers.first.timestamp|timesince}} ago) <a href="{% url 'download' tickers.first.id %}">download link</a>
    </p>
    <h3>Your created tickers:</h3>
    <div class='ticker_table'>
    <table>
        <tr>
            <th>Filename</th>
            <th>Text</th>
            <th>Date Created</th>
            <th>Download</th>
        </tr>
        {% for ticker in tickers %}
        <tr>
            <td>{{ticker.filename}}</td>
            <td>{{ticker.text}}</td>
            <td>{{ticker.timestamp}}</td>
            <td><a href="{% url 'download' ticker.id %}" class="download__img">
                <img src= "{% static 'ticker/images/dwld.svg' %}" width='30' height='20'>
            </a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'profile' user.id %}">View all of your tickers</a>
    </div>
    {% endif %}
</body>

{% endblock %}