{% extends 'main.html' %}
{% block content %}

<div class='profile__body'>
    <h1>My profile </h1>
    <div class='userinfo'>
        <p>Username: {{user.username}}</p>
        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
    </div>
    <a href="{% url 'edit_profile' user.id %}" class='edit-profile'>edit</a>
    {% if request.user.is_authenticated %}
    <h3>My latest created ticker:</h3>
    {% include "tickerapp/last_ticker.html" %}
    <h3>Created tickers:</h3>
    {% include "tickerapp/ticker_table.html" %}
    </div>
    {% endif %}
</body>
{% endblock %}