<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ticker Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>


    <body>
        <h1>Hi, this is Ticker</h1>
        <p>On this page you can type any text in the form below and I will give you a ticker video file with your text</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Video</button>
        </form>
    </body>
</html>