{% load static %}

<header class="header">
    <div class="header__inner">
        <div class="header-logo">
            <a href="{% url 'home' %}" class="header__logo">Ticker</a>
        </div>

        <div class="header-user-log">
            <!-- Logged In -->
            {% if request.user.is_authenticated %}
            <div class="header-userinfo">
                <p class="username"> {{request.user.first_name}} {{request.user.last_name}}</p>
                <a href="{% url 'profile' request.user.id %}" class = 'nickname'> @{{request.user.username}}</a>
            </div>
            <a href="{% url 'logout' %}" class="log-in-out__item">Logout</a>       
            {% else %}
            <!-- Not Logged In -->
            <a href="{% url 'login' %}" class="log-in-out__item">Login</a>
            {% endif %}
        </div>
    </div>
</header>